<div class="row">
  <div class="col-md-6 team">
    <h2><em>The Founders</em></h2>
    <%= image_tag "aloha.jpg", :class => "image" %>
    <h5>2017 Off-Site in Hawaii</h5>
    <p>Co-Founders</p>
    <p>Masen Matthews, Katie Fujihara</p>
  </div>
  <div class="col-md-6">
    <h2><em>Our Story</em></h2>
    <p>I Love Layovers™ was founded by Masen and Katie on a rainy day in Portland, OR. These ambitious coders-in-training had a vision and set out to fufill it. Average travel sites were all the same - they offered too many convienent options at too many low price points. Why would anybody want to suffer through the monotony of "just another travel experience"? Why should anybody conform to the standard of airline booking?</p>
    <br>
    <p>This project was started for the ambitious travellers in all of us. The travellers that care more about the trip than the destination. The ones who find small pleasures in dirty airport bathrooms and screaming babies on airplanes. It's for those of us who don't really care that we're stuck in a giant metal tube where our pores are permeated with the mouth-breathed steam of those around us. If you like adventure, I Love Layovers™ is here for you.</p>
  </div>
</div>
<h2>Meet Our Team</h2>
<div class="row">
  <div class="col-md-4 intern">
    <%= image_tag "masen.png", :class => "bio" %>
    <h4>Masen</h4>
    <p>CEO</p>
    <p>"Call me Big Papa."</p>
  </div>
  <div class="col-md-4 intern">
    <%= image_tag "john.png", :class => "bio" %>
    <h4>John</h4>
    <p>CTO</p>
    <p>"<%= @quotes[0].quote%>"</p>
  </div>
  <div class="col-md-4 intern">
    <%= image_tag "misha.png", :class => "bio" %>
    <h4>Misha</h4>
    <p>CFO</p>
    <p>"<%= @quotes[1].quote%>"</p>
  </div>
</div>
<div class="row">
  <div class="col-md-4 intern">
    <%= image_tag "nico.png", :class => "bio" %>
    <h4>Nico</h4>
    <p>Director of VR</p>
    <p>"<%= @quotes[2].quote%>"</p>
  </div>
  <div class="col-md-4 intern">
    <%= image_tag "Ron.png", :class => "bio" %>
    <h4>Ron</h4>
    <p>Creative Director</p>
    <p>"<%= @quotes[3].quote%>"</p>
  </div>
  <div class="col-md-4 intern">
    <%= image_tag "jared.png", :class => "bio" %>
    <h4>Jared</h4>
    <p>Backend Engineer</p>
    <p>"<%= @quotes[4].quote%>"</p>
  </div>
</div>
<div class="row">
  <div class="col-md-4 intern">
    <%= image_tag "dave.png", :class => "bio" %>
    <h4>Dave</h4>
    <p>Sustainability Consultant</p>
    <p>"<%= @quotes[5].quote%>"</p>
  </div>
  <div class="col-md-4 intern">
    <%= image_tag "Frank.png", :class => "bio" %>
    <h4>Frank</h4>
    <p>QA Intern</p>
    <p>"<%= @quotes[6].quote%>"</p>
  </div>
  <div class="col-md-4 intern">
    <%= image_tag "andrew.jpg", :class => "bio" %>
    <h4>Andrew</h4>
    <p>Director of Custodial</p>
    <p>"<%= @quotes[7].quote%>"</p>
  </div>
</div>
<div class="row">
  <div class="col-md-4 intern">
  </div>
  <div class="col-md-4 intern">
    <%= image_tag "yochi.png", :class => "bio" %>
    <h4>Yochi</h4>
    <p>Office Dog</p>
    <p>"<%= @quotes[8].quote%>"</p>
  </div>
  <div class="col-md-4 intern">
  </div>
</div>
<div class="values">
  <h3>We are strong believers in diversity. We believe in:</h3>
    <h5>Making I Love Layovers™ more reflective of the world in which we live and the communities to which we belong.
    <h5>Supporting a more inclusive workplace with a strong sense of openness and belonging.</h5>
    <h5>Extending our social impact efforts and providing access and opportunities to underrepresented communities.</h5>
  <h2>Join the team today!</h2>
</div>
