<h1>Check out our Add-ons!</h1>
<div class="product-grid">
  <% @products.each do |product| %>
    <div class="well add">
      <%= form_for @order_item do |f| %>
        <%= f.submit "Add to cart", :class => "btn btn-primary" %>
        <h5><%= product.name %></h5>
        <h5><%= number_to_currency product.price %></h5>
         <%= f.hidden_field :product_id, value: product.id %>
         <%= f.number_field :quantity , value: 0, :class => "form"%>
        <h6><%= product.description %></h6>
      <% end %>
    </div>
  <% end %>
</div>
