<!DOCTYPE html>
<html>
  <head>
    <title>I Love Layovers</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Pacifico|Rubik" rel="stylesheet">

  </head>
    <body>
      <%= render 'layouts/navbar' %>
      <h1>I Love Layovers™</h1>
      <div class="container">
        <%= yield %>
      </div>
  </body>
</html>
